<div class="row">
    <div class="col-xs-12">
        <h3>Asset Details</h3>
    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">manage
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-menu">Add Data</a></li>
                <li><a href="#">Edit Data</a></li>
                <li><a href="#">Delete Data</a></li>
            </ul>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-xs-12">
        Asset Name
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Asset Serial Number
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Type
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Owner
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Approved By
    </div>
</div>